@{
    ViewData["Title"] = "Home Page";
}

@model DSA_Web.Models.InputList
<div class="text-center">
    <form action="Home/PostData" method="POST">
        <label>Enter data in comma separated form: </label>
 @Html.TextBoxFor(m=>m.NumberList)
 <input type="submit" value="Submit" />
</form> 
</div>
